@import url("https://fonts.googleapis.com/css?family=Rubik&display=swap");
.btn, .btn-blue, .btn-grey, .btn-green, .btn-teal, .btn-red, .btn-yellow, .btn-purple, .btn-sky, .btn-black, .pagination .previous, .pagination-ends .previous, .pagination-start .previous, .pagination-end .previous, .pagination .previous-disabled, .pagination-ends .previous-disabled, .pagination-start .previous-disabled, .pagination-end .previous-disabled,
.pagination .next-disabled,
.pagination-ends .next-disabled,
.pagination-start .next-disabled,
.pagination-end .next-disabled,
.pagination .next,
.pagination-ends .next,
.pagination-start .next,
.pagination-end .next,
.pagination-center .previous,
.pagination-center .previous-disabled,
.pagination-center .next-disabled,
.pagination-center .next {
  border: none;
  background: #0d7be2;
  color: #fff;
  padding: 10px 12px;
  outline: none;
  border-radius: 4px;
  margin: 2px 0;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-shadow: 2px 2px 5px #ccc;
          box-shadow: 2px 2px 5px #ccc;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:hover, .btn-blue:hover, .btn-grey:hover, .btn-green:hover, .btn-teal:hover, .btn-red:hover, .btn-yellow:hover, .btn-purple:hover, .btn-sky:hover, .btn-black:hover, .pagination .previous:hover, .pagination-ends .previous:hover, .pagination-start .previous:hover, .pagination-end .previous:hover, .pagination .previous-disabled:hover, .pagination-ends .previous-disabled:hover, .pagination-start .previous-disabled:hover, .pagination-end .previous-disabled:hover,
.pagination .next-disabled:hover,
.pagination-ends .next-disabled:hover,
.pagination-start .next-disabled:hover,
.pagination-end .next-disabled:hover,
.pagination .next:hover,
.pagination-ends .next:hover,
.pagination-start .next:hover,
.pagination-end .next:hover,
.pagination-center .previous:hover,
.pagination-center .previous-disabled:hover,
.pagination-center .next-disabled:hover,
.pagination-center .next:hover, .btn:focus, .btn-blue:focus, .btn-grey:focus, .btn-green:focus, .btn-teal:focus, .btn-red:focus, .btn-yellow:focus, .btn-purple:focus, .btn-sky:focus, .btn-black:focus, .pagination .previous:focus, .pagination-ends .previous:focus, .pagination-start .previous:focus, .pagination-end .previous:focus, .pagination .previous-disabled:focus, .pagination-ends .previous-disabled:focus, .pagination-start .previous-disabled:focus, .pagination-end .previous-disabled:focus,
.pagination .next-disabled:focus,
.pagination-ends .next-disabled:focus,
.pagination-start .next-disabled:focus,
.pagination-end .next-disabled:focus,
.pagination .next:focus,
.pagination-ends .next:focus,
.pagination-start .next:focus,
.pagination-end .next:focus,
.pagination-center .previous:focus,
.pagination-center .previous-disabled:focus,
.pagination-center .next-disabled:focus,
.pagination-center .next:focus, .btn:active, .btn-blue:active, .btn-grey:active, .btn-green:active, .btn-teal:active, .btn-red:active, .btn-yellow:active, .btn-purple:active, .btn-sky:active, .btn-black:active, .pagination .previous:active, .pagination-ends .previous:active, .pagination-start .previous:active, .pagination-end .previous:active, .pagination .previous-disabled:active, .pagination-ends .previous-disabled:active, .pagination-start .previous-disabled:active, .pagination-end .previous-disabled:active,
.pagination .next-disabled:active,
.pagination-ends .next-disabled:active,
.pagination-start .next-disabled:active,
.pagination-end .next-disabled:active,
.pagination .next:active,
.pagination-ends .next:active,
.pagination-start .next:active,
.pagination-end .next:active,
.pagination-center .previous:active,
.pagination-center .previous-disabled:active,
.pagination-center .next-disabled:active,
.pagination-center .next:active {
  background: #096ecc;
}

.btn-grey {
  background: #727272;
}

.btn-grey:hover, .btn-grey:focus, .btn-grey:active {
  background: #555555;
}

.btn-green {
  background: #139272;
}

.btn-green:hover, .btn-green:focus, .btn-green:active {
  background: #117c61;
}

.btn-teal {
  background: #0097a7;
}

.btn-teal:hover, .btn-teal:focus, .btn-teal:active {
  background: #008492;
}

.btn-red {
  background: #f44336;
}

.btn-red:hover, .btn-red:focus, .btn-red:active {
  background: #e63529;
}

.btn-yellow {
  background: #ecb439;
}

.btn-yellow:hover, .btn-yellow:focus, .btn-yellow:active {
  background: #cfa01c;
}

.btn-purple {
  background: #8742e2;
}

.btn-purple:hover, .btn-purple:focus, .btn-purple:active {
  background: #773cc5;
}

.btn-sky {
  background: #65a2db;
}

.btn-sky:hover, .btn-sky:focus, .btn-sky:active {
  background: #4a89c5;
}

.btn-black, .pagination .previous, .pagination-ends .previous, .pagination-start .previous, .pagination-end .previous, .pagination .previous-disabled, .pagination-ends .previous-disabled, .pagination-start .previous-disabled, .pagination-end .previous-disabled,
.pagination .next-disabled,
.pagination-ends .next-disabled,
.pagination-start .next-disabled,
.pagination-end .next-disabled,
.pagination .next,
.pagination-ends .next,
.pagination-start .next,
.pagination-end .next,
.pagination-center .previous,
.pagination-center .previous-disabled,
.pagination-center .next-disabled,
.pagination-center .next {
  background: #3b3b3b;
}

.btn-black:hover, .pagination .previous:hover, .pagination-ends .previous:hover, .pagination-start .previous:hover, .pagination-end .previous:hover, .pagination .previous-disabled:hover, .pagination-ends .previous-disabled:hover, .pagination-start .previous-disabled:hover, .pagination-end .previous-disabled:hover,
.pagination .next-disabled:hover,
.pagination-ends .next-disabled:hover,
.pagination-start .next-disabled:hover,
.pagination-end .next-disabled:hover,
.pagination .next:hover,
.pagination-ends .next:hover,
.pagination-start .next:hover,
.pagination-end .next:hover,
.pagination-center .previous:hover,
.pagination-center .previous-disabled:hover,
.pagination-center .next-disabled:hover,
.pagination-center .next:hover, .btn-black:focus, .pagination .previous:focus, .pagination-ends .previous:focus, .pagination-start .previous:focus, .pagination-end .previous:focus, .pagination .previous-disabled:focus, .pagination-ends .previous-disabled:focus, .pagination-start .previous-disabled:focus, .pagination-end .previous-disabled:focus,
.pagination .next-disabled:focus,
.pagination-ends .next-disabled:focus,
.pagination-start .next-disabled:focus,
.pagination-end .next-disabled:focus,
.pagination .next:focus,
.pagination-ends .next:focus,
.pagination-start .next:focus,
.pagination-end .next:focus,
.pagination-center .previous:focus,
.pagination-center .previous-disabled:focus,
.pagination-center .next-disabled:focus,
.pagination-center .next:focus, .btn-black:active, .pagination .previous:active, .pagination-ends .previous:active, .pagination-start .previous:active, .pagination-end .previous:active, .pagination .previous-disabled:active, .pagination-ends .previous-disabled:active, .pagination-start .previous-disabled:active, .pagination-end .previous-disabled:active,
.pagination .next-disabled:active,
.pagination-ends .next-disabled:active,
.pagination-start .next-disabled:active,
.pagination-end .next-disabled:active,
.pagination .next:active,
.pagination-ends .next:active,
.pagination-start .next:active,
.pagination-end .next:active,
.pagination-center .previous:active,
.pagination-center .previous-disabled:active,
.pagination-center .next-disabled:active,
.pagination-center .next:active {
  background: #1d1d1d;
}

.mx-1 {
  margin-left: 0.4rem;
  margin-right: 0.4rem;
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.mx-3 {
  margin-left: 0.6rem;
  margin-right: 0.6rem;
}

.mx-4 {
  margin-left: 0.7rem;
  margin-right: 0.7rem;
}

.mx-5 {
  margin-left: 0.8rem;
  margin-right: 0.8rem;
}

.mx-6 {
  margin-left: 0.9rem;
  margin-right: 0.9rem;
}

.mx-7 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.mx-8 {
  margin-left: 1.1rem;
  margin-right: 1.1rem;
}

.mx-9 {
  margin-left: 1.2rem;
  margin-right: 1.2rem;
}

.mx-10 {
  margin-left: 1.3rem;
  margin-right: 1.3rem;
}

.my-1 {
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.my-3 {
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
}

.my-4 {
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}

.my-5 {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

.my-6 {
  margin-top: 0.9rem;
  margin-bottom: 0.9rem;
}

.my-7 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-8 {
  margin-top: 1.1rem;
  margin-bottom: 1.1rem;
}

.my-9 {
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}

.my-10 {
  margin-top: 1.3rem;
  margin-bottom: 1.3rem;
}

.px-1 {
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-3 {
  padding-left: 0.6rem;
  padding-right: 0.6rem;
}

.px-4 {
  padding-left: 0.7rem;
  padding-right: 0.7rem;
}

.px-5 {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

.px-6 {
  padding-left: 0.9rem;
  padding-right: 0.9rem;
}

.px-7 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-8 {
  padding-left: 1.1rem;
  padding-right: 1.1rem;
}

.px-9 {
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}

.px-10 {
  padding-left: 1.3rem;
  padding-right: 1.3rem;
}

.py-1 {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-3 {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}

.py-4 {
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}

.py-5 {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

.py-6 {
  padding-top: 0.9rem;
  padding-bottom: 0.9rem;
}

.py-7 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-8 {
  padding-top: 1.1rem;
  padding-bottom: 1.1rem;
}

.py-9 {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}

.py-10 {
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
}

.mt-1 {
  margin-top: 0.4rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-3 {
  margin-top: 0.6rem;
}

.mt-4 {
  margin-top: 0.7rem;
}

.mt-5 {
  margin-top: 0.8rem;
}

.mt-6 {
  margin-top: 0.9rem;
}

.mt-7 {
  margin-top: 1rem;
}

.mt-8 {
  margin-top: 1.1rem;
}

.mt-9 {
  margin-top: 1.2rem;
}

.mt-10 {
  margin-top: 1.3rem;
}

.mr-1 {
  margin-right: 0.4rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mr-3 {
  margin-right: 0.6rem;
}

.mr-4 {
  margin-right: 0.7rem;
}

.mr-5 {
  margin-right: 0.8rem;
}

.mr-6 {
  margin-right: 0.9rem;
}

.mr-7 {
  margin-right: 1rem;
}

.mr-8 {
  margin-right: 1.1rem;
}

.mr-9 {
  margin-right: 1.2rem;
}

.mr-10 {
  margin-right: 1.3rem;
}

.mb-1 {
  margin-bottom: 0.4rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-3 {
  margin-bottom: 0.6rem;
}

.mb-4 {
  margin-bottom: 0.7rem;
}

.mb-5 {
  margin-bottom: 0.8rem;
}

.mb-6 {
  margin-bottom: 0.9rem;
}

.mb-7 {
  margin-bottom: 1rem;
}

.mb-8 {
  margin-bottom: 1.1rem;
}

.mb-9 {
  margin-bottom: 1.2rem;
}

.mb-10 {
  margin-bottom: 1.3rem;
}

.ml-1 {
  margin-left: 0.4rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.ml-3 {
  margin-left: 0.6rem;
}

.ml-4 {
  margin-left: 0.7rem;
}

.ml-5 {
  margin-left: 0.8rem;
}

.ml-6 {
  margin-left: 0.9rem;
}

.ml-7 {
  margin-left: 1rem;
}

.ml-8 {
  margin-left: 1.1rem;
}

.ml-9 {
  margin-left: 1.2rem;
}

.ml-10 {
  margin-left: 1.3rem;
}

.pt-1 {
  padding-top: 0.4rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pt-3 {
  padding-top: 0.6rem;
}

.pt-4 {
  padding-top: 0.7rem;
}

.pt-5 {
  padding-top: 0.8rem;
}

.pt-6 {
  padding-top: 0.9rem;
}

.pt-7 {
  padding-top: 1rem;
}

.pt-8 {
  padding-top: 1.1rem;
}

.pt-9 {
  padding-top: 1.2rem;
}

.pt-10 {
  padding-top: 1.3rem;
}

.pr-1 {
  padding-right: 0.4rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.pr-3 {
  padding-right: 0.6rem;
}

.pr-4 {
  padding-right: 0.7rem;
}

.pr-5 {
  padding-right: 0.8rem;
}

.pr-6 {
  padding-right: 0.9rem;
}

.pr-7 {
  padding-right: 1rem;
}

.pr-8 {
  padding-right: 1.1rem;
}

.pr-9 {
  padding-right: 1.2rem;
}

.pr-10 {
  padding-right: 1.3rem;
}

.pb-1 {
  padding-bottom: 0.4rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pb-3 {
  padding-bottom: 0.6rem;
}

.pb-4 {
  padding-bottom: 0.7rem;
}

.pb-5 {
  padding-bottom: 0.8rem;
}

.pb-6 {
  padding-bottom: 0.9rem;
}

.pb-7 {
  padding-bottom: 1rem;
}

.pb-8 {
  padding-bottom: 1.1rem;
}

.pb-9 {
  padding-bottom: 1.2rem;
}

.pb-10 {
  padding-bottom: 1.3rem;
}

.pl-1 {
  padding-left: 0.4rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.pl-3 {
  padding-left: 0.6rem;
}

.pl-4 {
  padding-left: 0.7rem;
}

.pl-5 {
  padding-left: 0.8rem;
}

.pl-6 {
  padding-left: 0.9rem;
}

.pl-7 {
  padding-left: 1rem;
}

.pl-8 {
  padding-left: 1.1rem;
}

.pl-9 {
  padding-left: 1.2rem;
}

.pl-10 {
  padding-left: 1.3rem;
}

/* JUMBOTRON */
.jumbotron {
  -webkit-box-shadow: 0 3px 10px #ccc;
          box-shadow: 0 3px 10px #ccc;
  border-radius: 10px;
  padding: 2rem 3rem;
}

.jumbotron .title {
  font-size: 2rem;
  font-weight: 600;
}

.jumbotron .desc {
  margin-top: 10px;
  margin-bottom: 1rem;
}

.jumbotron .body, .jumbotron .body-border {
  font-size: 1.2rem;
}

.jumbotron .body-border {
  border-top: 1px solid #c2c2c2;
}

/* NAVBAR */
.navbar, .navbar-sticky {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #333;
  position: relative;
}

.navbar .left, .navbar-sticky .left {
  position: absolute;
  top: 25%;
  left: 1rem;
  height: 100%;
  color: #fff;
}

.navbar .left .logo, .navbar-sticky .left .logo {
  height: 50%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.navbar .menu, .navbar-sticky .menu, .navbar .menu-center, .navbar-sticky .menu-center, .navbar .menu-end, .navbar-sticky .menu-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.navbar .menu .item, .navbar-sticky .menu .item, .navbar .menu-center .item, .navbar-sticky .menu-center .item, .navbar .menu-end .item, .navbar-sticky .menu-end .item {
  margin: 2px 5px;
  color: #efefef;
  margin: 0 15px;
  text-decoration: none;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.navbar .menu .item:hover, .navbar-sticky .menu .item:hover, .navbar .menu-center .item:hover, .navbar-sticky .menu-center .item:hover, .navbar .menu-end .item:hover, .navbar-sticky .menu-end .item:hover {
  color: #ccc;
}

.navbar .menu-center, .navbar-sticky .menu-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar .menu-end, .navbar-sticky .menu-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navbar .right, .navbar-sticky .right {
  position: absolute;
  height: 100%;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 1rem;
  color: #fff;
}

.navbar .right img, .navbar-sticky .right img {
  height: 50%;
}

.navbar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
}

/* SEPERATOR */
.seperator {
  margin: 1rem 0;
  border-top: 1px solid #ccc;
}

.flex-x, .flex-x-end, .flex-x-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 100%;
}

.flex-y, .flex-y-end, .container-flex, .container-flex-center, .flex-y-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 100%;
}

.flex-x-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex-y-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.container, .container-flex, .container-flex-center {
  margin: 2% 2%;
}

.container-flex-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ns {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.usn, .udsn {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.udn, .udsn {
  -webkit-user-drag: none;
}

.nm, .nmp {
  margin: 0 !important;
}

.np, .nmp {
  padding: 0 !important;
}

.btn, .btn-blue, .btn-grey, .btn-green, .btn-teal, .btn-red, .btn-yellow, .btn-purple, .btn-sky, .btn-black, .pagination .previous, .pagination-ends .previous, .pagination-start .previous, .pagination-end .previous, .pagination .previous-disabled, .pagination-ends .previous-disabled, .pagination-start .previous-disabled, .pagination-end .previous-disabled,
.pagination .next-disabled,
.pagination-ends .next-disabled,
.pagination-start .next-disabled,
.pagination-end .next-disabled,
.pagination .next,
.pagination-ends .next,
.pagination-start .next,
.pagination-end .next,
.pagination-center .previous,
.pagination-center .previous-disabled,
.pagination-center .next-disabled,
.pagination-center .next {
  border: none;
  background: #0d7be2;
  color: #fff;
  padding: 10px 12px;
  outline: none;
  border-radius: 4px;
  margin: 2px 0;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-shadow: 2px 2px 5px #ccc;
          box-shadow: 2px 2px 5px #ccc;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:hover, .btn-blue:hover, .btn-grey:hover, .btn-green:hover, .btn-teal:hover, .btn-red:hover, .btn-yellow:hover, .btn-purple:hover, .btn-sky:hover, .btn-black:hover, .pagination .previous:hover, .pagination-ends .previous:hover, .pagination-start .previous:hover, .pagination-end .previous:hover, .pagination .previous-disabled:hover, .pagination-ends .previous-disabled:hover, .pagination-start .previous-disabled:hover, .pagination-end .previous-disabled:hover,
.pagination .next-disabled:hover,
.pagination-ends .next-disabled:hover,
.pagination-start .next-disabled:hover,
.pagination-end .next-disabled:hover,
.pagination .next:hover,
.pagination-ends .next:hover,
.pagination-start .next:hover,
.pagination-end .next:hover,
.pagination-center .previous:hover,
.pagination-center .previous-disabled:hover,
.pagination-center .next-disabled:hover,
.pagination-center .next:hover, .btn:focus, .btn-blue:focus, .btn-grey:focus, .btn-green:focus, .btn-teal:focus, .btn-red:focus, .btn-yellow:focus, .btn-purple:focus, .btn-sky:focus, .btn-black:focus, .pagination .previous:focus, .pagination-ends .previous:focus, .pagination-start .previous:focus, .pagination-end .previous:focus, .pagination .previous-disabled:focus, .pagination-ends .previous-disabled:focus, .pagination-start .previous-disabled:focus, .pagination-end .previous-disabled:focus,
.pagination .next-disabled:focus,
.pagination-ends .next-disabled:focus,
.pagination-start .next-disabled:focus,
.pagination-end .next-disabled:focus,
.pagination .next:focus,
.pagination-ends .next:focus,
.pagination-start .next:focus,
.pagination-end .next:focus,
.pagination-center .previous:focus,
.pagination-center .previous-disabled:focus,
.pagination-center .next-disabled:focus,
.pagination-center .next:focus, .btn:active, .btn-blue:active, .btn-grey:active, .btn-green:active, .btn-teal:active, .btn-red:active, .btn-yellow:active, .btn-purple:active, .btn-sky:active, .btn-black:active, .pagination .previous:active, .pagination-ends .previous:active, .pagination-start .previous:active, .pagination-end .previous:active, .pagination .previous-disabled:active, .pagination-ends .previous-disabled:active, .pagination-start .previous-disabled:active, .pagination-end .previous-disabled:active,
.pagination .next-disabled:active,
.pagination-ends .next-disabled:active,
.pagination-start .next-disabled:active,
.pagination-end .next-disabled:active,
.pagination .next:active,
.pagination-ends .next:active,
.pagination-start .next:active,
.pagination-end .next:active,
.pagination-center .previous:active,
.pagination-center .previous-disabled:active,
.pagination-center .next-disabled:active,
.pagination-center .next:active {
  background: #096ecc;
}

.btn-grey {
  background: #727272;
}

.btn-grey:hover, .btn-grey:focus, .btn-grey:active {
  background: #555555;
}

.btn-green {
  background: #139272;
}

.btn-green:hover, .btn-green:focus, .btn-green:active {
  background: #117c61;
}

.btn-teal {
  background: #0097a7;
}

.btn-teal:hover, .btn-teal:focus, .btn-teal:active {
  background: #008492;
}

.btn-red {
  background: #f44336;
}

.btn-red:hover, .btn-red:focus, .btn-red:active {
  background: #e63529;
}

.btn-yellow {
  background: #ecb439;
}

.btn-yellow:hover, .btn-yellow:focus, .btn-yellow:active {
  background: #cfa01c;
}

.btn-purple {
  background: #8742e2;
}

.btn-purple:hover, .btn-purple:focus, .btn-purple:active {
  background: #773cc5;
}

.btn-sky {
  background: #65a2db;
}

.btn-sky:hover, .btn-sky:focus, .btn-sky:active {
  background: #4a89c5;
}

.btn-black, .pagination .previous, .pagination-ends .previous, .pagination-start .previous, .pagination-end .previous, .pagination .previous-disabled, .pagination-ends .previous-disabled, .pagination-start .previous-disabled, .pagination-end .previous-disabled,
.pagination .next-disabled,
.pagination-ends .next-disabled,
.pagination-start .next-disabled,
.pagination-end .next-disabled,
.pagination .next,
.pagination-ends .next,
.pagination-start .next,
.pagination-end .next,
.pagination-center .previous,
.pagination-center .previous-disabled,
.pagination-center .next-disabled,
.pagination-center .next {
  background: #3b3b3b;
}

.btn-black:hover, .pagination .previous:hover, .pagination-ends .previous:hover, .pagination-start .previous:hover, .pagination-end .previous:hover, .pagination .previous-disabled:hover, .pagination-ends .previous-disabled:hover, .pagination-start .previous-disabled:hover, .pagination-end .previous-disabled:hover,
.pagination .next-disabled:hover,
.pagination-ends .next-disabled:hover,
.pagination-start .next-disabled:hover,
.pagination-end .next-disabled:hover,
.pagination .next:hover,
.pagination-ends .next:hover,
.pagination-start .next:hover,
.pagination-end .next:hover,
.pagination-center .previous:hover,
.pagination-center .previous-disabled:hover,
.pagination-center .next-disabled:hover,
.pagination-center .next:hover, .btn-black:focus, .pagination .previous:focus, .pagination-ends .previous:focus, .pagination-start .previous:focus, .pagination-end .previous:focus, .pagination .previous-disabled:focus, .pagination-ends .previous-disabled:focus, .pagination-start .previous-disabled:focus, .pagination-end .previous-disabled:focus,
.pagination .next-disabled:focus,
.pagination-ends .next-disabled:focus,
.pagination-start .next-disabled:focus,
.pagination-end .next-disabled:focus,
.pagination .next:focus,
.pagination-ends .next:focus,
.pagination-start .next:focus,
.pagination-end .next:focus,
.pagination-center .previous:focus,
.pagination-center .previous-disabled:focus,
.pagination-center .next-disabled:focus,
.pagination-center .next:focus, .btn-black:active, .pagination .previous:active, .pagination-ends .previous:active, .pagination-start .previous:active, .pagination-end .previous:active, .pagination .previous-disabled:active, .pagination-ends .previous-disabled:active, .pagination-start .previous-disabled:active, .pagination-end .previous-disabled:active,
.pagination .next-disabled:active,
.pagination-ends .next-disabled:active,
.pagination-start .next-disabled:active,
.pagination-end .next-disabled:active,
.pagination .next:active,
.pagination-ends .next:active,
.pagination-start .next:active,
.pagination-end .next:active,
.pagination-center .previous:active,
.pagination-center .previous-disabled:active,
.pagination-center .next-disabled:active,
.pagination-center .next:active {
  background: #1d1d1d;
}

.card,
.card-y {
  -webkit-box-shadow: 2px 4px 8px #ccc;
          box-shadow: 2px 4px 8px #ccc;
  width: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  margin: 0 1rem;
  padding-bottom: 3px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.card .top,
.card-y .top {
  width: 100%;
  border-radius: 10px;
  border-radius: 10px 10px 0 0;
}

.card .top .thumb,
.card-y .top .thumb {
  width: 100%;
  border-radius: inherit;
}

.card .body, .card .jumbotron .body-border, .jumbotron .card .body-border,
.card-y .body,
.card-y .jumbotron .body-border,
.jumbotron .card-y .body-border {
  padding: 10px 1rem;
}

.card .body .title, .card .jumbotron .body-border .title, .jumbotron .card .body-border .title,
.card-y .body .title,
.card-y .jumbotron .body-border .title,
.jumbotron .card-y .body-border .title {
  font-size: 1.2rem;
  font-weight: 600;
}

.card .body .content .text, .card .jumbotron .body-border .content .text, .jumbotron .card .body-border .content .text,
.card-y .body .content .text,
.card-y .jumbotron .body-border .content .text,
.jumbotron .card-y .body-border .content .text {
  margin-top: 10px;
}

.card-x {
  -webkit-box-shadow: 2px 4px 8px #ccc;
          box-shadow: 2px 4px 8px #ccc;
  width: 50rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  border-radius: 10px;
}

.card-x .top {
  height: 100%;
  border-radius: 10px 0 0 10px;
}

.card-x .top .thumb {
  border-radius: inherit;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-x .body, .card-x .jumbotron .body-border, .jumbotron .card-x .body-border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 1rem;
  width: 160%;
}

.card-x .body .title, .card-x .jumbotron .body-border .title, .jumbotron .card-x .body-border .title {
  font-size: 1.2rem;
  font-weight: 600;
}

.card-x .body .content .text, .card-x .jumbotron .body-border .content .text, .jumbotron .card-x .body-border .content .text {
  margin-top: 10px;
}

.pagination, .pagination-ends, .pagination-start, .pagination-end,
.pagination-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 600;
}

.pagination .previous, .pagination-ends .previous, .pagination-start .previous, .pagination-end .previous, .pagination .previous-disabled, .pagination-ends .previous-disabled, .pagination-start .previous-disabled, .pagination-end .previous-disabled,
.pagination .next-disabled,
.pagination-ends .next-disabled,
.pagination-start .next-disabled,
.pagination-end .next-disabled,
.pagination .next,
.pagination-ends .next,
.pagination-start .next,
.pagination-end .next,
.pagination-center .previous,
.pagination-center .previous-disabled,
.pagination-center .next-disabled,
.pagination-center .next {
  border-radius: 100%;
  padding: 10px 15px;
  margin: 0 4px;
  background: #fff;
  color: black;
}

.pagination .previous:hover, .pagination-ends .previous:hover, .pagination-start .previous:hover, .pagination-end .previous:hover, .pagination .previous-disabled:hover, .pagination-ends .previous-disabled:hover, .pagination-start .previous-disabled:hover, .pagination-end .previous-disabled:hover,
.pagination .next-disabled:hover,
.pagination-ends .next-disabled:hover,
.pagination-start .next-disabled:hover,
.pagination-end .next-disabled:hover, .pagination .previous:focus, .pagination-ends .previous:focus, .pagination-start .previous:focus, .pagination-end .previous:focus, .pagination .previous-disabled:focus, .pagination-ends .previous-disabled:focus, .pagination-start .previous-disabled:focus, .pagination-end .previous-disabled:focus,
.pagination .next-disabled:focus,
.pagination-ends .next-disabled:focus,
.pagination-start .next-disabled:focus,
.pagination-end .next-disabled:focus, .pagination .previous:active, .pagination-ends .previous:active, .pagination-start .previous:active, .pagination-end .previous:active, .pagination .previous-disabled:active, .pagination-ends .previous-disabled:active, .pagination-start .previous-disabled:active, .pagination-end .previous-disabled:active,
.pagination .next-disabled:active,
.pagination-ends .next-disabled:active,
.pagination-start .next-disabled:active,
.pagination-end .next-disabled:active,
.pagination .next:hover,
.pagination-ends .next:hover,
.pagination-start .next:hover,
.pagination-end .next:hover,
.pagination .next:focus,
.pagination-ends .next:focus,
.pagination-start .next:focus,
.pagination-end .next:focus,
.pagination .next:active,
.pagination-ends .next:active,
.pagination-start .next:active,
.pagination-end .next:active,
.pagination-center .previous:hover,
.pagination-center .previous-disabled:hover,
.pagination-center .next-disabled:hover,
.pagination-center .previous:focus,
.pagination-center .previous-disabled:focus,
.pagination-center .next-disabled:focus,
.pagination-center .previous:active,
.pagination-center .previous-disabled:active,
.pagination-center .next-disabled:active,
.pagination-center .next:hover,
.pagination-center .next:focus,
.pagination-center .next:active {
  background: #fff;
  color: black;
  -webkit-box-shadow: 2px 2px 6px #ccc;
          box-shadow: 2px 2px 6px #ccc;
}

.pagination .previous::before, .pagination-ends .previous::before, .pagination-start .previous::before, .pagination-end .previous::before, .pagination .previous-disabled::before, .pagination-ends .previous-disabled::before, .pagination-start .previous-disabled::before, .pagination-end .previous-disabled::before,
.pagination .next-disabled::before,
.pagination-ends .next-disabled::before,
.pagination-start .next-disabled::before,
.pagination-end .next-disabled::before,
.pagination-center .previous::before,
.pagination-center .previous-disabled::before,
.pagination-center .next-disabled::before {
  content: "<";
}

.pagination .next::before, .pagination-ends .next::before, .pagination-start .next::before, .pagination-end .next::before,
.pagination-center .next::before {
  content: ">";
}

.pagination .previous-disabled, .pagination-ends .previous-disabled, .pagination-start .previous-disabled, .pagination-end .previous-disabled,
.pagination .next-disabled,
.pagination-ends .next-disabled,
.pagination-start .next-disabled,
.pagination-end .next-disabled,
.pagination-center .previous-disabled,
.pagination-center .next-disabled {
  background: #eee;
}

.pagination .previous-disabled:hover, .pagination-ends .previous-disabled:hover, .pagination-start .previous-disabled:hover, .pagination-end .previous-disabled:hover,
.pagination .next-disabled:hover,
.pagination-ends .next-disabled:hover,
.pagination-start .next-disabled:hover,
.pagination-end .next-disabled:hover,
.pagination-center .previous-disabled:hover,
.pagination-center .next-disabled:hover {
  background: #eee;
}

.pagination .pages, .pagination-ends .pages, .pagination-start .pages, .pagination-end .pages,
.pagination-center .pages {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 1px 2px 6px #ccc;
          box-shadow: 1px 2px 6px #ccc;
  border-radius: 25px;
  margin: 0 0.7rem;
  padding: 10px 1rem;
}

.pagination .pages .page, .pagination-ends .pages .page, .pagination-start .pages .page, .pagination-end .pages .page, .pagination .pages .page-active, .pagination-ends .pages .page-active, .pagination-start .pages .page-active, .pagination-end .pages .page-active, .pagination .pages .page-disabled, .pagination-ends .pages .page-disabled, .pagination-start .pages .page-disabled, .pagination-end .pages .page-disabled,
.pagination-center .pages .page,
.pagination-center .pages .page-active,
.pagination-center .pages .page-disabled {
  margin: 0 10px;
  cursor: pointer;
  font-weight: 400;
}

.pagination .pages .page-active, .pagination-ends .pages .page-active, .pagination-start .pages .page-active, .pagination-end .pages .page-active,
.pagination-center .pages .page-active {
  color: #0d7be2;
  font-weight: 600;
  cursor: default;
}

.pagination .pages .page-disabled, .pagination-ends .pages .page-disabled, .pagination-start .pages .page-disabled, .pagination-end .pages .page-disabled,
.pagination-center .pages .page-disabled {
  color: #8a8a8a;
  cursor: default;
}

.pagination-ends {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pagination-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.pagination-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

* {
  font-family: 'Rubik', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}
/*# sourceMappingURL=main.css.map */