@import url("https://fonts.googleapis.com/css?family=Rubik&display=swap");
.btn, .btn-blue, .btn-grey, .btn-green, .btn-red, .btn-yellow, .btn-purple, .btn-sky, .btn-black {
  border: none;
  background: #0d7be2;
  color: #fff;
  padding: 10px 12px;
  outline: none;
  border-radius: 4px;
  margin: 2px 0;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-shadow: 2px 2px 5px #ccc;
          box-shadow: 2px 2px 5px #ccc;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:hover, .btn-blue:hover, .btn-grey:hover, .btn-green:hover, .btn-red:hover, .btn-yellow:hover, .btn-purple:hover, .btn-sky:hover, .btn-black:hover, .btn:focus, .btn-blue:focus, .btn-grey:focus, .btn-green:focus, .btn-red:focus, .btn-yellow:focus, .btn-purple:focus, .btn-sky:focus, .btn-black:focus, .btn:active, .btn-blue:active, .btn-grey:active, .btn-green:active, .btn-red:active, .btn-yellow:active, .btn-purple:active, .btn-sky:active, .btn-black:active {
  background: #096ecc;
}

.btn-grey {
  background: #727272;
}

.btn-grey:hover, .btn-grey:focus, .btn-grey:active {
  background: #555555;
}

.btn-green {
  background: #139272;
}

.btn-green:hover, .btn-green:focus, .btn-green:active {
  background: #117c61;
}

.btn-red {
  background: #ff5650;
}

.btn-red:hover, .btn-red:focus, .btn-red:active {
  background: #e43b35;
}

.btn-yellow {
  background: #ecb439;
}

.btn-yellow:hover, .btn-yellow:focus, .btn-yellow:active {
  background: #cfa01c;
}

.btn-purple {
  background: #8742e2;
}

.btn-purple:hover, .btn-purple:focus, .btn-purple:active {
  background: #773cc5;
}

.btn-sky {
  background: #65a2db;
}

.btn-sky:hover, .btn-sky:focus, .btn-sky:active {
  background: #4a89c5;
}

.btn-black {
  background: #3b3b3b;
}

.btn-black:hover, .btn-black:focus, .btn-black:active {
  background: #1d1d1d;
}

.mx-1 {
  margin-left: 0.4rem;
  margin-right: 0.4rem;
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.mx-3 {
  margin-left: 0.6rem;
  margin-right: 0.6rem;
}

.mx-4 {
  margin-left: 0.7rem;
  margin-right: 0.7rem;
}

.mx-5 {
  margin-left: 0.8rem;
  margin-right: 0.8rem;
}

.mx-6 {
  margin-left: 0.9rem;
  margin-right: 0.9rem;
}

.mx-7 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.mx-8 {
  margin-left: 1.1rem;
  margin-right: 1.1rem;
}

.mx-9 {
  margin-left: 1.2rem;
  margin-right: 1.2rem;
}

.mx-10 {
  margin-left: 1.3rem;
  margin-right: 1.3rem;
}

.my-1 {
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.my-3 {
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
}

.my-4 {
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}

.my-5 {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

.my-6 {
  margin-top: 0.9rem;
  margin-bottom: 0.9rem;
}

.my-7 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-8 {
  margin-top: 1.1rem;
  margin-bottom: 1.1rem;
}

.my-9 {
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}

.my-10 {
  margin-top: 1.3rem;
  margin-bottom: 1.3rem;
}

.px-1 {
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-3 {
  padding-left: 0.6rem;
  padding-right: 0.6rem;
}

.px-4 {
  padding-left: 0.7rem;
  padding-right: 0.7rem;
}

.px-5 {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

.px-6 {
  padding-left: 0.9rem;
  padding-right: 0.9rem;
}

.px-7 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-8 {
  padding-left: 1.1rem;
  padding-right: 1.1rem;
}

.px-9 {
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}

.px-10 {
  padding-left: 1.3rem;
  padding-right: 1.3rem;
}

.py-1 {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-3 {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}

.py-4 {
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}

.py-5 {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

.py-6 {
  padding-top: 0.9rem;
  padding-bottom: 0.9rem;
}

.py-7 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-8 {
  padding-top: 1.1rem;
  padding-bottom: 1.1rem;
}

.py-9 {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}

.py-10 {
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
}

.jumbotron {
  -webkit-box-shadow: 0 3px 10px #ccc;
          box-shadow: 0 3px 10px #ccc;
  border-radius: 10px;
  padding: 2rem 3rem;
}

.jumbotron .title {
  font-size: 2rem;
  font-weight: 600;
}

.jumbotron .desc {
  margin-top: 10px;
  margin-bottom: 1rem;
}

.jumbotron .body, .jumbotron .body-border {
  font-size: 1.2rem;
}

.jumbotron .body-border {
  border-top: 1px solid #c2c2c2;
}

.navbar, .navbar-sticky {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #333;
  position: relative;
}

.navbar .left, .navbar-sticky .left {
  position: absolute;
  top: 25%;
  left: 1rem;
  height: 100%;
  color: #fff;
}

.navbar .left .logo, .navbar-sticky .left .logo {
  height: 50%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.navbar .menu, .navbar-sticky .menu, .navbar .menu-center, .navbar-sticky .menu-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.navbar .menu .item, .navbar-sticky .menu .item, .navbar .menu-center .item, .navbar-sticky .menu-center .item {
  margin: 2px 5px;
  color: #efefef;
  margin: 0 15px;
  text-decoration: none;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.navbar .menu .item:hover, .navbar-sticky .menu .item:hover, .navbar .menu-center .item:hover, .navbar-sticky .menu-center .item:hover {
  color: #ccc;
}

.navbar .menu-center, .navbar-sticky .menu-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar .right, .navbar-sticky .right {
  position: absolute;
  height: 100%;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 1rem;
  color: #fff;
}

.navbar .right img, .navbar-sticky .right img {
  height: 50%;
}

.navbar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
}

.container, .container-flex, .container-flex-center {
  margin: 2% 2%;
}

.container-flex, .container-flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container-flex-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ns {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.usn {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

* {
  font-family: 'Rubik', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}
/*# sourceMappingURL=main.css.map */