@import "./button", "../pallete";

//& Cards
.card,
.card-y {
  box-shadow: 2px 4px 8px #ccc;
  width: 20rem;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin: 0 1rem;
  padding-bottom: 3px;
  transition: all 0.3s;

  .top {
    width: 100%;
    border-radius: 10px;
    border-radius: 10px 10px 0 0;

    .thumb {
      width: 100%;
      border-radius: inherit;
    }
  }

  .body {
    padding: 10px 1rem;
    .title {
      font-size: 1.2rem;
      font-weight: 600;
    }
    .content {
      .text {
        margin-top: 10px;
      }
    }
  }
}

.card-x {
  box-shadow: 2px 4px 8px #ccc;
  width: 50rem;
  display: flex;
  position: relative;
  border-radius: 10px;

  .top {
    // width: 61rem;
    height: 100%;
    border-radius: 10px 0 0 10px;

    .thumb {
      border-radius: inherit;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 1rem;
    width: 160%;

    .title {
      font-size: 1.2rem;
      font-weight: 600;
    }
    .content {
      .text {
        margin-top: 10px;
      }
    }
  }
}

//& Pagination
.pagination {
  display: flex;
  width: 100%;
  font-weight: 600;

  .container {
    all: unset;
    display: flex;
    .previous,
    .next {
      @extend .btn-black;
      border-radius: 100%;
      padding: 10px 15px;
      margin: 0 4px;
      background: #fff;
      color: black;

      &:hover,
      &:focus,
      &:active {
        background: #fff;
        color: black;
        box-shadow: 2px 2px 6px #ccc;
      }
    }

    .previous::before {
      content: "<";
    }

    .next::before {
      content: ">";
    }

    .previous-disabled,
    .next-disabled {
      @extend .previous;
      background: #eee;

      &:hover {
        background: #eee;
      }
    }

    .pages {
      user-select: none;
      display: flex;
      box-shadow: 1px 2px 6px #ccc;
      // border: 1px solid black;
      border-radius: 25px;
      margin: 0 0.7rem;
      padding: 10px 1rem;

      .page {
        margin: 0 10px;
        cursor: pointer;
        font-weight: 400;
      }
      .page-active {
        @extend .page;
        color: color(blue);
        font-weight: 600;
        cursor: default;
      }
      .page-disabled {
        @extend .page;
        color: rgb(138, 138, 138);
        cursor: default;
      }
    }
  }
}

.pagination-box {
  .container {
    all: unset;
    display: flex;
    box-shadow: 1px 2px 6px #ccc;
    border-radius: 5px;
    user-select: none;
    padding: 7px 0;

    .previous::before {
      content: "<";
    }

    .next::before {
      content: ">";
    }

    .previous,
    .next {
      padding: 12px 18px;
      border-radius: 5px;
      margin: 0 20px;
      background: #eee;
      cursor: pointer;
    }
    .previous-disabled,
    .next-disabled {
      @extend .previous;
      background: rgb(212, 212, 212);
      cursor: default;
    }

    .pages {
      display: flex;
      justify-content: center;

      .page {
        padding: 12px 18px;
        cursor: pointer;
      }
      .page-disabled {
        @extend .page;
        color: rgb(133, 133, 133);
      }

      .page-active {
        @extend .page;
        padding: 12px 18px;
        font-weight: 600;
        border-radius: 5px;
        background: color(blue);
        color: #fff;
      }
    }
  }
}
