@import "../pallete";

/* JUMBOTRON */
.jumbotron {
  box-shadow: 0 3px 10px #ccc;
  border-radius: 10px;
  padding: 2rem 3rem;

  .title {
    font-size: 2rem;
    font-weight: 600;
  }
  .desc {
    margin-top: 10px;
    margin-bottom: 1rem;
  }
  .body {
    font-size: 1.2rem;
  }
  .body-border {
    @extend .body;
    border-top: 1px solid #c2c2c2;
    // padding-top: 1rem;
  }
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: center;
  background: #333;
  position: relative;

  .left {
    position: absolute;
    top: 25%;
    left: 1rem;
    height: 100%;
    color: #fff;

    .logo {
      height: 50%;
      user-select: none;
    }
  }

  .menu {
    display: flex;
    width: 100%;

    .item {
      margin: 2px 5px;
      color: #efefef;
      margin: 0 15px;
      text-decoration: none;
      transition: all 0.1s;

      &:hover {
        color: #ccc;
      }
    }
  }

  .menu-center {
    @extend .menu;
    justify-content: center;
  }

  .menu-end {
    @extend .menu;
    justify-content: flex-end;
  }

  .right {
    position: absolute;
    height: 100%;
    top: 0;
    display: flex;
    align-items: center;
    right: 1rem;
    color: #fff;

    img {
      height: 50%;
    }
  }
}

.navbar-sticky {
  @extend .navbar;
  position: sticky;
  top: 0;
  width: 100%;
}

/* SEPERATOR */
.seperator {
  margin: 1rem 0;
  border-top: 1px solid #ccc;
}
