.flex-x, .flex-x-start {
  display: flex !important;
  justify-content: start !important;
  width: 100% !important;
}

.flex-y, .flex-y-start {
  display: flex !important;
  flex-direction: column !important;
  justify-content: start !important;
  width: 100% !important;
}

.flex-x-end {
  @extend .flex-x;
  justify-content: flex-end !important;
}

.flex-y-end {
  @extend .flex-y;
  justify-content: flex-end !important;
}

.flex-x-center {
  @extend .flex-x;
  justify-content: center !important;
}

.flex-y-center {
  @extend .flex-y;
  justify-content: center !important;
}

.container {
  margin: 2% 2%;
}

.container-flex {
  @extend .container, .flex-y;
}

.container-flex-center {
  @extend .container-flex;
  align-items: center !important;
}

.ns {
  box-shadow: none !important;
}

.usn {
  user-select: none;
}

.udn {
  -webkit-user-drag: none;
}

.udsn {
  @extend .usn, .udn;
}

.nm {
  margin: 0 !important;
}

.np {
  padding: 0 !important;
}

.nmp {
  @extend .nm, .np;
}
